body {
 background: url("cubes5.jpg");
  background-size: cover;
    font-family: 'Patua One', cursive;
    letter-spacing:1px;
    font-weight: 900;
}

.card{
  background: rgba(242, 235, 255, 0.52);
}

